/* .accessibility-btn {
  position: fixed;
  left: 10px;
  top: 20rem;
  background-color: #e7e7e700;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  cursor: pointer;
  z-index: 1000;
} */

body {
  overflow-x: hidden;
}

.accessibility-sidebar {
  position: fixed;
  left: -250px;
  top: 18rem;
  width: 250px;
  height: 385px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  transition: left 0.3s ease;
  z-index: 998;
  filter: none !important;
  border: solid #6bb252;
}

.accessibility-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  filter: none !important;
}

.accessibility-menu ul li {
  margin: 15px 0;
  filter: none !important;
}

.accessibility-menu ul li button {
  background: none;
  border: none;
  color: rgb(2, 2, 2);
  font-size: 16px;
  cursor: pointer;
  filter: none !important;
}

.accessibility-menu ul li button:hover,
.accessibility-menu ul li button:focus,
.accessibility-menu ul li button:active {
  background-color: #6bb252;
  border-radius: 10px;
}

/* Penanda halaman */
.page-marker {
  position: fixed;
  left: 10px;
  bottom: 340px;
  font-size: 25px;
  background-color: #6bb252;
  border: #6bb252;
  transition: left 0.3s ease;
  z-index: 998;
}

/* Mode Aksesibilitas */

/* Kontras Tinggi */
body.high-contrast {
  background-color: #000;
  color: #fff;
}

a.high-contrast {
  color: #0ff;
}

/* Grayscale */
body.grayscale {
  filter: grayscale(100%);
  height: 45rem;
}

.accessibility-menu {
  filter: none !important;
}

/* Kontras Negatif */
body.negative-contrast {
  position: sticky;
  height: 45rem;
  filter: invert(100%) !important;
}

/* Garis Bawah Tautan */
a.underline {
  text-decoration: underline !important;
}

/* Ukuran Teks */
body.larger-text {
  font-size: 120%;
}

body.smaller-text {
  font-size: 90%;
}

.accessibility-sidebar,
.page-marker {
  filter: none !important;
}

/* Menghindari efek filter pada konten lainnya */
body.grayscale .accessibility-sidebar,
body.negative-contrast .accessibility-sidebar {
  filter: none !important;
}
